@font-face {
  font-family: 'Merriweather';
  src: url("../fonts/Merriweather-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1,h2,h3,h4,h5,h6,p,a{
    margin: 0 0 20px;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
    font-family: 'Merriweather', serif;
    text-align:center;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6{
    font-size: 2.5em;
    border-bottom: 1px solid #656565;
}

body {
	display:block;
	background-color:#000000;
	color:#ffffff;
}

a, a:visited, a:hover, a:active {
    color:#656565;
}

.logout {
    text-align: center;
    margin-top: -16px;
}

.login-header {
    margin: 4% 18% 4% 18%;
}